NODE_ENV=development
PORT=5000

DATABASE_URL="postgresql://postgres:yourPassword@localhost:5432/taskflow"

REDIS_HOST=localhost
REDIS_PORT=PORT_NUMBER
REDIS_PASSWORD=REDIS_PASSWORD
REDIS_DB=0

BULLMQ_PREFIX=taskflow

JWT_ACCESS_SECRET="YOUR_ACCESS_TOKEN"
JWT_REFRESH_SECRET="YOUR_REFRESH TOKEN"
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d